<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <p>
        <label>Введите заголовок</label><br>
        <input type="text" name="header" value="{{ post.header }}">
    </p>
    <p>
        <label>Введите текст</label><br>
        <input type="text" name="content" value="{{ post.content }}">
    </p>
    <p>
        <label>Введите дату</label><br>
        <input type="date" name="date" value="{{ post.date }}">
    </p>
    <p>
        <Label>Выберите имя компании</Label>
        <select name="category">
            {% for category in categories %}
            <option value="{{ category.id }}"
            {% if category.id == post.category.id %}
                selected
            {% endif %}>
            {{ category.name }}
            </option>
            {% endfor %}
        </select>
    </p>
    <p>
        <label>Выберите автора</label>
        <select name="author">
            {% for author in authors %}
            <option value="{{ author.id }}"
            {% if author.id == post.author.id %}
                selected
            {% endif %}>
            {{ author.name }}
            </option>
            {% endfor %}
        </select>
    </p>
    <p>
        <label>Выберите издательство</label>
        <select name="publisher">
            {% for publisher in publishers %}
            <option value="{{ publisher.id }}"
            {% if publisher.id == post.publisher.id %}
                selected
            {% endif %}>
            {{ publisher.name }}
            </option>
            {% endfor %}
        </select>
    </p>
    <input type="submit" value="Сохранить">
</form>
</body>
</html>